*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
body{
    padding: 0px;
    margin: 0px;
}
.header{
    width: 100%;
    background-color: black;
    padding: 20px;
    color: white;
    font-size: 25px;
}
.footer{
    width: 100%;
    background-color: black;
    padding: 20px;
    color: white;
    font-size: 25px;
}
.box{
    display: flex;
    flex-direction: row;
}
.item{
    flex:1;
    background-color: darkgray;
    padding: 10px;
    color: white;
    margin-left: 10px;
}
.item1{
    flex:2;
    background-color: darkgray;
    padding: 10px;
    color: white;
    margin: 0px 20px;
}

.item2{
    flex:1;
    background-color: darkgray;
    padding: 10px;
    color: white;
    margin-right: 10px;
}
.item4{
    flex:2;
    background-color: darkgray;
    padding: 10px;
    color: white;
}

.item5{
    flex:8;
    background-color: red;
    padding: 10px;
    color: white;
}
@media (max-width:400px){
    
}
@media (max-width:768px){
    .box{
        display: block;
        flex-direction: row;
    }
    .item{
       
        background-color: orange;
        margin: 10px 0px;


    }
    .item1{
      
        background-color: orange;
        margin: 0px;

    }
    .item2{
        
        background-color: orange;
        margin: 10px 0px;

    }
    .item4{
        
        background-color: orange;
        margin: 10px 0px;

    }
    .item5{
        
        background-color: orange;
        margin: 10px 0px;

    }
}

